{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->


<!-- LSE favicon set -->
<link rel="icon" type="image/png" sizes="96x96" href="{{ base_path }}/images/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/favicon-192x192.png" />
<link rel="icon" href="{{ base_path }}/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon.png" />
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<meta name="theme-color" content="#ffffff" />

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<!-- end custom head snippets -->
